.canvas-light,
.canvas-layer {
  inset: 0;
  position: fixed;
  pointer-events: none;
}

.canvas-light {
  background-image:  url("/light.webp");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}

.canvas-layer {
  mix-blend-mode: hard-light;

  canvas {
    width: 100%;
    height: 100%;
    display: block;
  }
}