.canvas-light,
.canvas-layer {
  inset: 0;
  position: fixed;
  pointer-events: none;
}

.canvas-light {
  background-image:  url("/light.webp");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  html[data-theme="light"] & { filter: invert(1); }
  @media (prefers-color-scheme: light) { filter: invert(1); }
}

.canvas-layer {
  mix-blend-mode: hard-light;

  html[data-theme="light"] & { mix-blend-mode: difference; }
  @media (prefers-color-scheme: light) { mix-blend-mode: difference; }

  canvas {
    width: 100%;
    height: 100%;
    display: block;
  }
}