.site-footer {
  padding-left: 5rem;
  padding-right: 5rem;

  @media (max-width: 690px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.footer-inner {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  justify-content: space-between;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.footer-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: var(--letter-spacing);
  color: var(--text-subdued);
}

.footer-links {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: var(--letter-spacing);
  color: var(--text-subdued);

  a {
    display: inline-flex;
    align-items: center;
  }
}