.site-header {
  padding-left: 5rem;
  padding-right: 5rem;

  @media (max-width: 690px) {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
  }
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 0;
  gap: 1.5rem;
}

.logo {
  font-size: 1.85rem;
  font-weight: var(--light);
  letter-spacing: var(--letter-spacing);
}

.nav {
  display: flex;
  gap: 5rem;
  font-size: 1.85rem;
  font-weight: var(--light);
  letter-spacing: var(--letter-spacing);

  @media (max-width: 690px) {
    position: fixed;
    width: 100%;
    inset: 0;
    background-color: var(--bg);
    background-image:  url("/light.webp"), url("/pattern.svg"), url("/noise.png");
    background-repeat: no-repeat, repeat, repeat;
    background-position: top center, center, center;
    background-size: auto, auto, auto;
    transition: opacity 0.45s var(--ease-dynamic), transform 0.45s var(--ease-dynamic);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    gap: 2rem;
    pointer-events: none;
    will-change: opacity, transform;
    transform: scale(0.95);
    opacity: 0;
    z-index: var(--layer-middle);
  }
}

@media (max-width: 690px) {
  html.menu-open .nav {
    pointer-events: auto;
    transform: scale(1);
    opacity: 1;
  }
}
