.site-header {
  padding-left: 5rem;
  padding-right: 5rem;

  @media (max-width: 690px) {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
  }
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 0;
  gap: 1.5rem;
}

.logo {
  font-size: 1.85rem;
  font-weight: var(--light);
  letter-spacing: var(--letter-spacing);
}

.nav {
  display: flex;
  gap: 5rem;
  font-size: 1.85rem;
  font-weight: var(--light);
  letter-spacing: var(--letter-spacing);

  @media (max-width: 690px) {
    display: none;
  }
}