.lead {
  position: relative;

  &.align-center {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    h1, h2 {
      text-align: center;
    }
  }

  h1, h2 {
    line-height: 1;
    font-weight: var(--medium);
    font-family: var(--font-base), sans-serif;
    & > span {
      display: block;
    }
  }

  h1 {
    font-size: 8.65rem;

    @media (max-width: 1024px) {
      font-size: 8rem;
    }

    @media (max-width: 690px) {
      font-size: 5.75rem;
    }
  }

  h2 {
    font-size: 6.85rem;

    @media (max-width: 1024px) {
      font-size: 6.25rem;
    }

    @media (max-width: 690px) {
      font-size: 5rem;
    }
  }

  p:not(.contact-form__status) {
    font-size: 1.85rem;
    font-weight: var(--light);
    letter-spacing: var(--letter-spacing);
    color: var(--text-subdued);
  }
}

.description-status {
  display: flex;
  gap: 1rem;
  align-items: center;
  --animate-ping: ping 1s cubic-bezier(0,0,.2,1) infinite;

  @media (max-width: 690px) {
    flex-direction: column;
    text-align: center;
  }
}