.about {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.about-photo {
  font-size: 0;
  max-width: 440px;
  position: sticky;
  overflow: hidden;
  border-radius: var(--radius-selector);
  corner-shape: squircle;
  z-index: var(--layer-hell);
  top: 4rem;

  @media (max-width: 1024px) {
    top: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 690px) {
    max-width: calc(100% - 4rem);
  }

  img {
    height: 100%;
    object-fit: cover;
    mix-blend-mode: luminosity;
  }

  canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  &.has-glitch img {
    opacity: 0;
  }
}

.about-content-wrapper {
  max-width: 45%;
  padding: 5rem 5rem 0;
  position: relative;

  @media (max-width: 1024px) {
    max-width: 100%;
  }

  @media (max-width: 690px) {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
  }
}

.about-content {
  gap: 2rem;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
    font-size: 1.25rem;
    &:first-of-type {
      font-size: 1.85rem;
    }
  }
}

.about-content-based {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
