@property --angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

.buttons {
  display: flex;
  gap: 5rem;

  @media (max-width: 690px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.button {
  justify-content: center;
  font-weight: var(--regular);
  display: inline-flex;
  color: var(--text);
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  line-height: 1;
  will-change: transform;
  gap: 1rem;

  &.button-primary {
    min-width: 250px;
    corner-shape: squircle;
    border: 2px solid transparent;
    border-radius: var(--radius-selector);
    background: radial-gradient(ellipse closest-corner at 50% 50%, oklch(from var(--color-base-100) l 0.1 h) 55%, oklch(from var(--color-base-100) l 0.15 h)) 100% padding-box, linear-gradient(var(--angle), oklch(from var(--color-base-100) l 0.1 h), oklch(from var(--color-accent) 0.25 c h )) border-box;
    transition: --angle 1s var(--ease-dynamic), transform 0.25s var(--ease-dynamic), padding 0.25s var(--ease-dynamic), font-weight 0.25s var(--ease-dynamic), text-shadow 0.25s var(--ease);
    &:hover {
      --angle: 360deg;
      transition: --angle 2s var(--ease-elastic), transform 0.25s var(--ease-dynamic), padding 0.25s var(--ease-dynamic), font-weight 0.25s var(--ease-dynamic), text-shadow 0.25s var(--ease);
    }
  }

  &:hover {
    font-weight: var(--medium);
    text-shadow: 0 2px 1px var(--color-secondary);
  }
}