@property --angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: -45deg;
}

.buttons {
  display: flex;
  gap: 5rem;

  @media (max-width: 690px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.button {
  justify-content: center;
  font-weight: var(--regular);
  display: inline-flex;
  color: var(--text);
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  line-height: 1;
  will-change: transform;
  gap: 1rem;

  &.button-primary {
    min-width: 250px;
    corner-shape: squircle;
    border: 2px solid transparent;
    border-radius: var(--radius-selector);
    background: radial-gradient(circle, var(--color-base-200) 65%, var(--color-secondary) 100%) padding-box, linear-gradient(var(--angle), var(--color-accent), var(--color-base-200)) border-box;
    transition: --angle 3s, transform 0.25s ease, padding 0.25s ease, font-weight 0.25s ease, text-shadow 0.25s ease;
    &:hover {
      --angle: 270deg;
    }
  }

  &:hover {
    font-weight: var(--medium);
    text-shadow: 0 2px 1px var(--color-secondary);
  }
}