.contact-form {
  width: min(820px, 100%);
  display: grid;
  gap: 1.5rem;
  margin-top: 1.5rem;

  .button {
    max-width: 350px;
    margin-left: auto;
    margin-right: 0;
  }
}

.contact-form__row {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @media (max-width: 690px) {
    grid-template-columns: 1fr;
  }
}

.contact-form__field {
  display: grid;
  gap: 0.75rem;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  color: var(--text-subdued);

  input,
  textarea {
    width: 100%;
    background: color-mix(in oklch, var(--color-base-200) 70%, transparent);
    letter-spacing: var(--letter-spacing);
    color: var(--text);
    padding: 0.9rem 1rem;
    font-size: 1rem;
    corner-shape: squircle;
    border: 2px solid transparent;
    border-radius: var(--radius-selector);
    background: radial-gradient(circle, var(--color-base-200) 65%, var(--color-secondary) 100%) padding-box, linear-gradient(var(--angle), var(--color-accent), var(--color-base-200)) border-box;
    transition: --angle 3s, transform 0.25s ease;
    &:focus {
      --angle: 270deg;
    }

    &.error {
      border: 2px solid color-mix(in oklch, var(--color-error) 25%, transparent);
    }
  }

  textarea {
    resize: vertical;
    min-height: 200px;
  }
}

.contact-form__honey {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  height: 0;
  width: 0;
}

.contact-form__status {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: var(--regular);
  letter-spacing: var(--letter-spacing);
  border-radius: var(--radius-selector);
  corner-shape: squircle;
  &:empty {
    display: none;
  }
}

.contact-form__status[data-state="success"] {
  color: color-mix(in oklch, var(--color-success) 95%, transparent);
  background-color: color-mix(in oklch, var(--color-success) 15%, transparent);
  border: 1px solid color-mix(in oklch, var(--color-success) 20%, transparent);
}

.contact-form__status[data-state="error"] {
  color: color-mix(in oklch, var(--color-error) 85%, transparent);
  background-color: color-mix(in oklch, var(--color-error-content) 20%, transparent);
  border: 1px solid color-mix(in oklch, var(--color-error-content) 60%, transparent);
}
