.featured {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 60%;
  margin-right: 0;
  margin-left: auto;

  @media (max-width: 1024px) {
    max-width: 100%;
  }
}

.featured-item {
  font-size: 0;
  width: calc(33.333% - 5px);

  @media (max-width: 690px) {
    width: calc(50% - 5px);
  }
}