.magnetic-target:not(.button) {
  display: inline-flex;
  transition: all 0.25s var(--ease-elastic), font-weight 0.25s var(--ease-elastic), text-shadow 0.25s var(--ease-elastic);
  will-change: transform;

  &:hover {
    font-weight: var(--medium);
    text-shadow: 0 2px 1px var(--color-secondary);
  }
}

.magnetic-target.is-magnetic {
  transition: all 0.12s var(--ease-elastic);
}