.magnetic-target:not(:is(.button, .skip-link, .hamburger)) {
  display: inline-flex;
  transition: all 0.25s var(--ease-elastic);
  will-change: transform;

  &:hover {
    font-weight: var(--medium);
    text-shadow: 0 2px 1px var(--text-shadow);
  }
}

.magnetic-target.is-magnetic {
  transition: all 0.12s var(--ease-elastic);
}

@media (prefers-reduced-motion: reduce) {
  .magnetic-target.is-magnetic {
    transition: unset;
  }
}