.is-preloading {
  overflow: hidden;
}

.preloader {
  position: fixed;
  inset: 0;
  z-index: calc(var(--layer-top) + 10);
  display: grid;
  place-items: center;
  background-color: var(--bg);
  background-image:  url("/pattern.svg"), url("/noise.png");
  color: var(--text);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.6s var(--ease), visibility 0.6s var(--ease);
}

.is-preloading .preloader {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.preloader-line {
  width: 100px;
  height: 5px;
  corner-shape: squircle;
  border-radius: var(--radius-selector);
  background: oklch(from var(--color-primary) l c h / 0.25);
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--color-primary);
    transform-origin: left center;
    animation: preloader-scan 2s var(--ease-dynamic);
    animation-iteration-count: 1;
  }
}

@keyframes preloader-scan {
  0% {
    transform: scaleX(0.2);
    opacity: 0.35;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.is-loaded .preloader {
  opacity: 0;
  visibility: hidden;
}
