.status-line {
  gap: 1rem;
  display: flex;
  position: relative;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: var(--letter-spacing);
  --animate-ping: ping 1s cubic-bezier(0,0,.2,1) infinite;

  &.absolute {
    position: absolute;
    bottom: 2rem; right: 5rem;

    @media (max-width: 690px) {
      bottom: 1rem;
      right: 2rem;
    }
  }
}

.status {
  grid-area: 1 / 1;
  background-image: radial-gradient(circle at 35% 30%, oklch(1 0 0 / calc(var(--depth) * .5)), #0000);
  vertical-align: middle;
  background-position: 50%;
  background-repeat: no-repeat;
  aspect-ratio: 1;
  border-radius: var(--radius-selector);
  background-color: var(--color-base-content);
  width: .5rem; height: .5rem;
  display: inline-flex;

  &.status-success {
    background-color: var(--color-success);
    color: var(--color-success);

    box-shadow: 0 2px 3px -1px
    color-mix(in oklab, currentColor calc(var(--depth) * 100%), #0000);
  }
}

@keyframes ping {
  75%, to {
    opacity: 0;
    transform: scale(2)
  }
}