.technologies {
  gap: 2rem;
  display: flex;
  min-height: 35px;
  align-items: center;

  p {
    font-size: 1.25rem;
  }

  html[data-theme="light"] & { img { filter: invert(1); } }
  @media (prefers-color-scheme: light) { img { filter: invert(1); } }
}

.technologies-item {
  display: flex;
  align-items: center;

  .icon {
    font-size: 1.85rem;
  }
}