.timeline {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 0.45rem;
  margin-top: 3rem;
}

.timeline-item {
  padding-left: 2rem;
  border-left: 2px solid;
  position: relative;

  &:first-child {
    .timeline-middle-dot:before {
      display: none;
    }
  }

  &:not(:last-child) {
    padding-bottom: 5rem;
  }
}

.timeline-middle {
  position: absolute;
  height: 12px; width: 12px;
  border-radius: 1rem;
  background: var(--text);
  left: 0; top: 0;
  transform: translate(-7px, -1px);
}

.timeline-middle-dot {
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 11px;
    height: 12px;
    background: var(--text);
  }

  &:before {
    inset: -6px 0 0px 0px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  &:after {
    inset: 6px 0 0 0;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
}

.timeline-content {
  gap: 0.5rem;
  display: flex;
  margin-top: -0.25rem;
  flex-direction: column;
  align-items: flex-start;
}

.timeline-content-title {
  font-size: 1.25rem;
  font-weight: var(--medium);
}

.timeline-content-role {
  color: var(--text-subdued);
  font-weight: var(--regular);
}

.timeline-content-time {
  font-size: 1rem;
  font-weight: var(--medium);
  color: var(--text-subdued);
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  line-height: 1;
}