.timeline {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 0.45rem;
  margin-top: 3rem;
}

.timeline-item {
  padding-left: 2rem;
  border-left: 2px solid;
  position: relative;

  &:not(:last-child) {
    padding-bottom: 5rem;
  }
}

.timeline-middle {
  position: absolute;
  height: 12px; width: 12px;
  border-radius: 1rem;
  background: var(--text);
  left: 0; top: 0;
  transform: translate(-7px, -1px);
}

.timeline-middle-dot {}

.timeline-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: -0.25rem;

  p {}
}

.timeline-content-title {
  font-size: 1.25rem;
  font-weight: var(--medium);
}

.timeline-content-role {
  color: var(--text-subdued);
  font-weight: var(--regular);
}

.timeline-content-time {
  font-size: 1rem;
  font-weight: var(--medium);
  color: var(--text-subdued);
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  line-height: 1;
}