:root {
  color-scheme: dark;
  --color-base-100: oklch(0.0782 0.0542 264.05);
  --color-base-200: oklch(0.0925 0.0641 264.05);
  --color-base-300: oklch(22% 0 0);
  --color-base-content: oklch(87.609% 0 0);
  --color-primary: oklch(0.2582 0.1675 271.19);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(0.1416 0.0981 264.05);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(0.186 0.1121 280.53);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(35% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(45.201% 0.313 264.052);
  --color-info-content: oklch(0.135 0.034 245.173);
  --color-success: oklch(0.866 0.295 142.495);
  --color-success-content: oklch(0.187 0.054 134.299);
  --color-warning: oklch(0.965 0.21 109.766);
  --color-warning-content: oklch(19.359% 0.042 109.769);
  --color-error: oklch(62.795% 0.257 29.233);
  --color-error-content: oklch(12.559% 0.051 29.233);
  --letter-spacing: 0.08em;
  --radius-selector: 1rem;
  --radius-field: 0rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;

  --font-heading: "General Sans";
  --font-body: "General Sans";
  --font-mono: "General Sans";

  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 600;

  --bg: var(--color-base-100);
  --text: var(--color-base-content);
  --text-subdued: color-mix(in oklch, var(--text) 75%, transparent);
  --active-links: var(--color-primary-content);
  --border-color: var(--color-base-content);

  --ease: cubic-bezier(.4, 0, .2, 1);
  --ease-in: cubic-bezier(.4, 0, 1, 1);
  --ease-out: cubic-bezier(0.16, 1, 0.3, 1);
  --ease-dynamic: cubic-bezier(0.16, 1, 0.3, 1);
  --ease-elastic: cubic-bezier(0.04, 1, 0.7, 1);

  --layer-top: 100;
  --layer-middle: 50;
  --layer-default: 0;
  --layer-under: -50;
  --layer-hell: -100;
}