---
import type { StatusLineData } from "../data/homepage";
import StatusLine from "./StatusLine.astro";

type Props = {
  statusLine: StatusLineData;
};

const { statusLine } = Astro.props;
---

<div id="scene" class="canvas-layer" aria-hidden="true" data-reveal></div>

<section class="section px-5 py-10 full-h flex items-center">
  <div class="lead" data-reveal>
    <h1>Full-stack developer</h1>
    <p>Blending creativity with technology to create innovative solutions.</p>
    <a class="button button-primary mt-2" href="#work">explore more</a>
  </div>
  <StatusLine {...statusLine} class="absolute" />
</section>
