html {
  &.using-keyboard {
    input, textarea, select, button, a {
      &:focus {
        outline: 2px solid var(--color-accent);
        outline-offset: 5px;
      }
    }
  }

  &.using-mouse {
    input, textarea, select, button, a {
      &:focus {
        outline: 0;
      }
    }
  }
}