html {
  font-size: 16px;
  scroll-behavior: auto;

  @media (max-width: 1024px) {
    font-size: 14px;
  }

  @media (max-width: 690px) {
    font-size: 12px;
  }
}

body {
  font-family: var(--font-body), sans-serif;
  background-color: var(--bg);
  background-image:  url("/pattern.svg"), url("/noise.png");
  background-size: auto, auto;
  color: var(--text);
  line-height: 1.6;
}


a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: var(--active-links);
  }
}