@font-face {
  font-family: 'portfolio';
  src:
          url('/fonts/portfolio.ttf?qxjt23') format('truetype'),
          url('/fonts/portfolio.woff?qxjt23') format('woff'),
          url('/fonts/portfolio.svg?qxjt23#portfolio') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'portfolio' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e900";
}

.icon-at:before {
  content: "\e901";
}

.icon-minus:before {
  content: "\e902";
}

.icon-plus:before {
  content: "\e903";
}

.icon-arrow-up:before {
  content: "\e904";
}

.icon-arrow-down:before {
  content: "\e905";
}

.icon-arrow-left:before {
  content: "\e906";
}

.icon-arrow-right:before {
  content: "\e907";
}

.icon-close:before {
  content: "\e908";
}

.icon-link:before {
  content: "\e909";
}

.icon-external:before {
  content: "\e90a";
}

.icon-mail:before {
  content: "\e90b";
}

.icon-hand:before {
  content: "\e90c";
}

.icon-pin:before {
  content: "\e90d";
}

.icon-django:before {
  content: "\e90e";
}

.icon-docker:before {
  content: "\e90f";
}

.icon-fastapi:before {
  content: "\e910";
}

.icon-github:before {
  content: "\e911";
}

.icon-nextjs:before {
  content: "\e912";
}

.icon-php:before {
  content: "\e913";
}

.icon-postcss:before {
  content: "\e914";
}

.icon-postgresql:before {
  content: "\e915";
}

.icon-python:before {
  content: "\e916";
}

.icon-rails:before {
  content: "\e917";
}

.icon-react:before {
  content: "\e918";
}

.icon-redis:before {
  content: "\e919";
}

.icon-ruby:before {
  content: "\e91a";
}

.icon-sass:before {
  content: "\e91b";
}

.icon-swiper:before {
  content: "\e91c";
}

.icon-tailwindcss:before {
  content: "\e91d";
}

.icon-threejs:before {
  content: "\e91e";
}

.icon-typescript:before {
  content: "\e91f";
}

.icon-vitejs:before {
  content: "\e920";
}

.icon-vuejs:before {
  content: "\e921";
}

.icon-webpack:before {
  content: "\e922";
}

.icon-wordpress:before {
  content: "\e923";
}
